* {
    box-sizing: border-box;
}

:root {
    --bg-white: #fffeea;
    --black: #000;
    --cat-beige: #edb894;
    --cat-brown: #d79357;
    --dark-cat-brown: #a54906;

    --regular-weight: 400;
    --bold-weight: 700;

    --h1-fontsize: 4rem;
    --h2-fontsize: 3rem;
    --h3-fontsize: 2rem;
    --p-fontsize: 1rem;
}


h1 {
    font-size: var(--h1-fontsize);
    font-family: 'Libre Bodoni', serif;
    font-weight: var(--regular-weight);
    text-align: center;
}

h2 {
   font-size: var(--h2-fontsize);
   font-family: 'Libre Bodoni', serif;
   font-weight: var(--regular-weight);
   margin-left: 0;
   margin-top: 15%;
   color: var(--black);
}

h3 {
    font-size: var(--h3-fontsize);
    font-family: 'Libre Bodoni', serif;
    font-weight: var(--regular-weight);
    margin-left: 5%;
    margin-top: 4%;
    color: var(--black);
}

p {
    font-size: var(--p-fontsize);
    font-family: 'Inconsolata', sans-serif;
    font-weight: var(--regular-weight);
    max-width: 70%;
    margin-left: 10%;
    color: var(--black);
}

strong {
    font-weight: var(--bold-weight);
    color: var(--black);
}

body {
    background-color: var(--bg-white);
}

nav ul {
    display: flex;
    direction: row;
    font-weight: var(--bold-weight);
    list-style-type: none; 
}

header {
    position: sticky;
    top: 0;
  
    background-color: var(--white);
  
    z-index: 1;
}
