* {
    box-sizing: border-box;
}

:root {
    --bg-white: #fffeea;
    --black: #000;
    --cat-beige: #edb894;
    --cat-brown: #d79357;
    --dark-cat-brown: #a54906;

    --regular-weight: 400;
    --bold-weight: 700;

    --h1-fontsize: 4rem;
    --h2-fontsize: 3rem;
    --h3-fontsize: 2rem;
    --p-fontsize: 1rem;
}


h1 {
    font-size: var(--h1-fontsize);
    font-family: 'Libre Bodoni', serif;
    font-weight: var(--regular-weight);
    text-align: center;
    margin-top: 15svh;
}

h2 {
    font-size: var(--h2-fontsize);
    font-family: 'Libre Bodoni', serif;
    font-weight: var(--regular-weight);
    margin-left: 2%;
    margin-top: 7%;
    color: var(--black);
}

h1 + h2 {
    margin-top: 5%;
}

h3 {
    font-size: var(--h3-fontsize);
    font-family: 'Libre Bodoni', serif;
    font-weight: var(--regular-weight);
    margin-left: 5%;
    margin-top: 4%;
    color: var(--black);
}

p {
    font-size: var(--p-fontsize);
    font-family: 'Inconsolata', sans-serif;
    font-weight: var(--regular-weight);
    max-width: 70%;
    margin-left: 10%;
    color: var(--black);
}

strong {
    font-weight: var(--bold-weight);
    color: var(--black);
}

body {
    margin: 0;
    background-color: var(--bg-white);
}

h2 {
    scroll-margin-top: 10svh;
}

nav {
    font-family: 'Inconsolata';
    font-size: 3svh;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: var(--cat-beige);
    height: 10svh;
}

nav ul {
    display: flex;
    justify-content: space-between;
    font-weight: var(--bold-weight);
    list-style-type: none; 
}

nav ul li {
    padding: 0.5svh;
    width: 25svw;
    text-align: center;
    border-radius: 10px;
    transition: transform .2s;
    margin: 0% 0.5rem;
}

nav a {
    display: block; 
    height: 100%; 
    color: var(--black);
    text-decoration: none;
}

nav ul li:hover {
    background-color: #d79357;
    transform: scale(1.15);
}
